.chatContainer{
    height: 75vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.input{
    width: 90vw;
    height: 30px;
    font-size: medium;

}

.inputs{
    display: flex;
}

.button{
    background-color: white;
}