.chatContainer{
    height: calc(100vh - 70px - 3rem - 2rem);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    scroll-snap-type:none;
    scroll-behavior: smooth;
}

.chatContainer::-webkit-scrollbar{
    background-color: transparent;
}

.input{
    width: 90vw;
    height: 2rem;
    font-size: medium;
}

.input::-webkit-scrollbar{
    color: transparent;
}

.inputs{
    display: flex;
}

.button{
    background-color: white;
}

#chatHeader{
    position: relative;
    border-bottom: 3px solid #000000ab;
    height: 3rem;
}

.friendName{
    margin: auto;
    cursor: pointer;
}

#chatHeader i{
    cursor: pointer;
    position: absolute;
    font-size: 25px;
}

.contacts{
    display: none;
}

textarea{
    resize: none;
}


.received{
    background-color: transparent;
    border: 1px solid #80808025;
    align-self: flex-start;
}

.sended{
    align-self: flex-end;
    background-color: #0871a8;
}

.skeleton{
    height: calc(100vh - 70px - 3rem - 2rem);
    display: flex;
    flex-direction: column;
}

.right, .left{
    width: 20rem;
    height: 400px;
}

.right{
    align-self: flex-end;
}

.messageContainer{
    display: flex;
    flex-direction: column;
}

@media (min-width: 801px) {
    .container{
        display: flex;
        flex-direction: row;
    }
    .secondDiv{
        width: 68.5vw;
        border-left: 2px solid black;
        border-left-style: outset;
    }
    .contacts{
        width: 30vw;
        display: block;
    }
    #chatHeader h1{
        font-size: 2em;
    }
    #chatHeader{
        border-bottom: 1px solid black;
    }
    #chatHeader i{
        display: none;
    }
}

.dark{
    background-color: black;
    color: white;
}


.dark .received{
    color: white;
}

.dark textarea{
    background-color: #000;
    border: 1px solid #111;
    color: white;
}

.dark .button{
    background-color: #000;
    color: white;
    border: 1px solid #111;
}

.dark .sended{
    background-color: #075580;
    color: white;
}

.dark .chatContainer{
    color: white;
}