.form{
    background-color: #353941;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    border-radius: 10px;
}

.container{
    display: grid;
    place-items: center;
    color: white;
    height: calc(100vh - 60px);
}

.form button{
    background-color: #5a5f66;
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: #8290a5;
    transition-duration: 500ms;
}

.form a{
    text-decoration: none;
    color: #5F85DB;
}

.form a:hover{
    color: white;
    transition-duration: 500ms;
}

.label{
    margin-right: 10px;
}

.labelEmail{
    margin-right: 40px;
}

.form input{
    color: black;
    font-weight: bolder;
}


.dark .form {
    background-color: black;
    box-shadow: 1px 1px 20px rgba(151, 151, 151, 0.432);
}

.dark .form input{
    border: 1px solid #111;
}

.dark .form button{
    background-color: rgb(68, 68, 68);
}