.container{
    position: absolute;
    width: 100vw;
    background-color: #0871a8;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 11vh;
}

.container a{
    color: white;
}

.container a:hover{
    font-size: large;
    transition-duration: 500ms;
}