.container{
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    transition-duration: 500ms;
    position: relative;
}

.message{
    max-width: 50%;
    padding: 10px;
    border-radius: 0.5em;
    margin: 1em;
    overflow-wrap: break-word;
    white-space: pre-line;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.content{
    font-size: 1.1rem;
}

.date{
    font-size: small;
    opacity: 0.6;
    align-self: flex-end;
}