.message{
    max-width: 50%;
    box-shadow: 1px 1px 15px black;
    padding: 10px;
    border-radius: 0.5em;
    margin: 1em;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.dark{
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
}
