*{
    margin: 0px;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    background-color: #0871a8;
    height: 60px;
    position: relative;
    z-index: 10;
}

.navbar h1{
    grid-column-start: span 2;
}

.navbar p{
    color: white;
}

.navbar a{
    color: white;
    cursor: pointer;
}

.navbar a:hover{
    color: white;
    transition-duration: 500ms;
}

.logo a{
    color: white;
}

.links{
    grid-column-start: 4;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
    position: relative;
    z-index: 1;
}

.links a{
    color: white;
    display: none;
}

.links a:hover{
    color: white;
    transition-duration: 500ms;
}

.icon{
    color: white;
    cursor: pointer;
}

.iconContainer{
    z-index: 1;
}

.icon:hover{
    color: black;
}

.changeButton{
    display: none;
}

#lightIcon{
    display: none;
    color: white;
}

#darkIcon{
    display: block;
    color: white;
}

.dark{
    color: white;
}

.dark .links a{
    color: white;
}

.dark .logo a{
    color: white;
}

.dark .logo a:hover{
    color: black;
    transition-duration: 500ms;
}

.dark .links a:hover{
    color: black;
    transition-duration: 500ms;
}

.dark #darkIcon{
    display: none;
}

.dark #lightIcon{
    display: block;
}



@media (min-width: 801px){
    .navbar{
        display: flex;
        justify-content: space-around;
    }
    .links a{
        display: flex;
    }
    .links{
        display: flex;
        column-gap: 2em;
    }
    .bars{
        display: none;
    }
    .changeButton{
        background-color: #0871a8;
        border: none;
        color: white;
        width: 1em;
        font-size: 1.3em;
        display: block;
        color: black;
        cursor: pointer;
    }
    .dark .changeButton{
        color: white;
    }
}