.form{
    background-color: #353941;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    border-radius: 20px;
    width: max-content;
}

.container{
    display: grid;
    place-items: center;
    color: white;
    min-height: calc(100vh - 60px);
}

.form button{
    background-color: #5a5f66;
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.form button:hover{
    background-color: #8290a5;
    transition-duration: 500ms;
}

.form a{
    text-decoration: none;
    color: #5F85DB;
}

.form a:hover{
    color: white;
    transition-duration: 500ms;
}

.dark .form{
    background-color: black;
    box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.425);
}

.dark .form button{
    background-color: rgb(68, 68, 68);
}

.dark .container {
    background-color: black ;
}