.header{
    position: relative;
}

.arrowLeft{
    font-size: 25px;
    order: 1;
    position: absolute;
    line-height: -50%;
    transform: translateY(50%);
}

.arrowLeft:hover{
    color: #0871a8;
    transition-duration: 500ms;
}

.title{
    text-align: center;
}

.search{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #00000071;
}

.search input{
    width: 90vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.result{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.result:hover{
    background-color: #1e73a71a;
}

.result h1{
    font-size: 25px;
}