h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: #4f5668;
}

a:hover{
    color: #2258d8;
    font-weight: 900;
    transition-duration: 500ms;
}

.container h1{
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.text{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.text h2{
    color: #4f5668;
}